<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>LSIsAppleDefaultForType</key>
			<string>YES</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tds</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>TopDrawDoc.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/javascript</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Top Draw Source</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TPDS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>DrawingDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>TopDraw</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>TpDr</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleShortVersionString</key>
	<string>${TOP_DRAW_VERSION}</string>
  <key>LSMinimumSystemVersion</key>
  <string>10.5</string>
</dict>
</plist>
