body { 
font-family: sans-serif;
}

h1 {
  border: thin solid DarkBlue;
  border-right: none;
  border-left: none;
  background-color: #F0F0F0;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

h2 {
  border: thin solid DarkBlue;
  border-right: none;
  border-left: none;
  border-top: none;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

h3 {
//  border: thin solid black;
//  border-right: none;
//  border-left: none;
//  border-top: none;
  padding: 0.25em;

  background-color: #C0C0C0;
  
}

.MenuItem, .Menu, 
.PreferenceItem, .Preferences,
.Constructor, .ConstructorDetails,
.Function, .FunctionDetails,
.Property, .PropertyDetails,
.Global, .GlobalDetails {
  padding: 1em;
}

.MenuItem, 
.PreferenceItem, 
.Function, 
.Property,
.Global {
  font-weight: bold;
}

table.Menu, 
table.Preferences, 
table.FunctionTable,
table.ConstructorTable, 
table.PropertyTable,
table.GlobalTable {
  border: thin solid black;
  border-collapse: collapse;
  border-spacing: 1em;
  width: 100%;
}

table.Menu {
	width: auto;
}

th.Menu, th.Preferences {
  background-color: LightCyan;
}

th.Function {
  background-color: Lavender;
}

th.Constructor {
  background-color: PaleGreen;
}

th.Property {
  background-color: AliceBlue;
}

th.Global {
	background-color: MistyRose;
}

img.LeftEdge {
	float: left;
}

img.RightEdge {
	float: right;
}

div.Indented {
	margin-left: 1em;
}

div.ClassSection {
	margin-top: 1em;
	font-weight: bold;
}

span.Optional {
	font-style: italic;
}

